{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} DTI Capstone {% endblock %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'documents/css/documents.css' %}">
    <link rel="stylesheet" href="{% static 'documents/css/upload.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/user_list.css' %}">
    <link rel="stylesheet" href="{% static 'payment/css/payments.css' %}">
    <link rel="stylesheet" href="{% static 'payment/css/payment-gcash.css' %}">


    {% block extra_css %}{% endblock %}
    
    <!-- JS -->
    <script src="{% static 'dashboard/js/scripts.js' %}"></script>
    <script src="{% static 'dashboard/js/searchbar.js' %}"></script>
    <script src="{% static 'dashboard/js/notifications.js' %}"></script>

    <script src="{% static 'documents/js/document_submission.js' %}"></script>
    <script src="{% static 'documents/js/formsets.js' %}"></script>
    <script src="{% static 'documents/js/lazy_loading.js' %}"></script>
    <script src="{% static 'documents/js/alerts.js' %}"></script>
    <script src="{% static 'documents/js/document_table.js' %}"></script>
    <script src="{% static 'documents/js/filters.js' %}"></script>
    <script src="{% static 'documents/js/progress_bar.js' %}"></script>
    <script src="{% static 'documents/js/upload_image.js' %}"></script>
    <script src="{% static 'documents/js/upload_file.js' %}"></script>
    <script src="{% static 'documents/js/coverage.js' %}"></script>
    <script src="{% static 'locations/js/location_dropdown.js' %}"></script>

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@latest"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    <div class="layout">
        
        {% include 'dashboard/partials/side-navbar.html' %}

        <div class="main-content">
            {% block body %}
            {% endblock %}
        </div>
        
        {% if messages %}
            {% include 'documents/partials/alerts_container.html' %}
        {% endif %}
    </div>

    <!-- Page-specific scripts -->
    {% block extra_js %}{% endblock %}

</body>
</html>