.searchbar-container {
    position: relative;
    padding: 0.75rem;
    background-color: white;
    border: solid 1px var(--border-color);
    border-radius: var(--radius-lg);
    min-width: 25vw;
}

.searchbar-container.active {
    border: solid 1px var(--accent);
    color: var(--accent);
}

.searchbar-container .fa-magnifying-glass {
    border-right: solid 2px var(--border-color);
    color: var(--text-light);
    padding-right: 1rem;
}

.searchbar-container.active .fa-magnifying-glass {
    border-right: solid 1px var(--accent);
    color: var(--accent);
}

.searchbar-container form {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.searchbar-container input {
    border: none;
    outline: none;
    font-size: clamp(0.75rem, 0.75vw, 1rem);
    width: 100%;
}

.searchbar-container.active input::placeholder {
    color: var(--accent);
}

.suggestions-box {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    transform: translateX(-50%);
    left: 50%;
    top: 100%;
    margin-top: 0.5rem;
    background-color: white;
    border: solid 1px var(--border-color);
    border-radius: var(--radius-lg);
    padding: 1rem;
    width: 100%;
    z-index: 1000;
}

.suggestions-box.visible {
    visibility: visible;
}

.suggestions-header h3 {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: var(--text-light);
    font-size: clamp(0.5rem, 0.7vw, 1rem);
    font-weight: 500;
}

.suggestions-header .fa-angle-right {
    color: var(--text-lighter);
    font-size: clamp(0.25rem, 0.65vw, 0.75rem);
}

.suggestion-count {
    background-color: rgb(210, 210, 210);
    color: white;
    font-size: clamp(0.4rem, 0.65vw, 0.75rem);
    font-weight: 600;
    border-radius: var(--radius-pill);
    padding: 2px 12px;
}

.suggestion-item {
    border-radius: 4px;
    margin-left: -0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.suggestion-item:hover {
    background-color: rgb(235, 235, 235);
}

.suggestion-item a {
    text-decoration: none;
    width: 100%;
}

.suggestion-item .details {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.suggestion-item .details strong {
    color: black;
    font-size: clamp(0.5rem, 0.75vw, 1.5rem);
    font-weight: 500;
}

.suggestion-item .role,
.suggestion-item .doc-type
{
    color: var(--text-light);
    font-size: clamp(0.5rem, 0.75vw, 1.5rem);
}

.suggestion-item-image {
    flex: 0 0 clamp(0.5rem, 1.5vw, 2.5rem);
}

.suggestion-item-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.suggestion-item .fa-file {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--text-lighter);
}