{% extends 'dashboard/layout.html' %}

{% block title %} Create Other Business Related {% endblock %}

{% block body %}

    {% include 'documents/components/preview_modal.html' with document="Other Business Name Related Forms" %}

    <div class="form-container">
        
        {% include 'documents/components/document_form_header.html' with title="Other Business Name Related Forms" %}

        <div class="form-wrapper">

            <form class="documents-form" id="documents-form" action="{% url 'create-other-business-related' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% for step_info in enumerated_steps %}
                    {% if step_info.1 == 'fieldset' %}
                        {% include 'documents/partials/fieldset.html' with counter=step_info.0 group=step_info.2 total_parts=total_parts %}
                    {% elif step_info.1 == 'formset' %}
                        {% include 'documents/partials/formset.html' with counter=step_info.0 label=step_info.2 formset=step_info.3 total_parts=total_parts %}
                    {% elif step_info.1 == 'section' %}
                        {% include 'documents/partials/coverage-fieldset.html' with counter=step_info.0 total_parts=total_parts %}
                    {% endif %}
                {% endfor %}

            </form>

            {% include 'documents/partials/progress-indicator.html' %}
        </div>
    </div>
{% endblock %}