{% load custom_filters %}

<aside class="form-progress-nav">
    <ol>
        {% for step in enumerated_steps %}
            {% if step.1 == 'fieldset' %}
                <li data-target="{{ step.2.2 }}-fieldset" class="step-item">
                    <span class="step-circle"></span>
                    <strong>{{ step.2.0 }}</strong>
                    <i class="fa-solid fa-angle-right"></i>
                </li>

            {% elif step.1 == 'formset' %}
                <li data-target="{{ step.2 }}-formset" class="step-item">
                    <span class="step-circle"></span>
                    <strong>{{ step.2|titlecase }}</strong>
                    <i class="fa-solid fa-angle-right"></i>
                </li>
            {% else %}
                <li data-target="{{ step.2 }}-fieldset" class="step-item">
                    <span class="step-circle"></span>
                    <strong>{{ step.2|titlecase }}</strong>
                    <i class="fa-solid fa-angle-right"></i>
                </li>
            {% endif %}
        {% endfor %}
    </ol>
    <div class="completion-percentage">
        <div class="progress">
            <div class="value" data-percent="">
                <span>50%</span>
            </div>
            <div class="column">
                <strong class="status">Incomplete</strong>
                <div class="progress-bar">
                    <div class="fill"></div>
                </div>
            </div>
        </div>
        <div class="actions">
            <button type="button" class="save-draft-btn" name="action" value="draft">Save Draft</button>
            <button type="submit"  class="submit-btn" name="action" value="preview">Submit</button>
        </div>
    </div>
</aside>
