.alerts-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: fixed;
    bottom: 2%;
    right: 2%;
    padding: 1rem;
    border-radius: var(--radius-md);
    z-index: 1000;
}

.alerts-container header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.alerts-container.success {
    background-color: rgb(235, 245, 235);
    border: solid 1px var(--success-color);
    color: var(--success-color);
}

.alerts-container.error {  
    background-color: rgb(241, 216, 216);
    border: solid 1px var(--required-color);
    color: var(--required-color);
}

.alerts-container .fa-xmark {
    margin-left: auto;
    cursor: pointer;
}
