.modal-container {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    overflow: hidden;
}

.modal {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid 1px var(--border-color);
    border-radius: var(--radius-lg);
    min-width: 30vw;
    max-height: 60%;
    padding: 1.5rem;
    overflow: hidden;
}

.modal header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: solid 2px var(--border-color);
}

.modal header h2 {
    color: var(--text-primary);
    font-size: clamp(1rem, 1vw, 3rem);
    font-weight: 700;
}

.close-modal-btn {
    border: none;
    outline: none;
    color: var(--text-secondary);
    cursor: pointer;
    font-size: clamp(0.65rem, 0.9vw, 1.5rem);
}

#document-filters-form {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    overflow-y: auto;
    width: 100%;
}

.modal .wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.modal h4 {
    color: var(--text-primary);
    font-size: clamp(0.5rem, 0.85vw, 2rem);
    font-weight: 500;
    margin-bottom: 1.25rem;
}

.modal .form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.modal label {
    color: var(--text-secondary);
    font-size: clamp(0.5rem, 0.75vw, 1.5rem);
}

.modal input {
    border: solid 1px var(--border-color);
    border-radius: var(--radius-sm);
    padding: 8px;
}

.status-filter-list {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    list-style-type: none;
}

.status-filter-list li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: clamp(0.5rem, 0.75vw, 1.5rem);
    border: solid 1px var(--border-color);
    border-radius: var(--radius-sm);
    padding: 8px 16px;
    cursor: pointer;
    transition: 0.15s;
}

.status-filter-list li:hover,
.status-filter-list li.active
{
    background-color: var(--input-focus);
    color: var(--accent);
    border: solid 1px var(--accent);
    cursor: pointer;
}

.status-filter-list li input[type="checkbox"] {
    display: none;
}

.status-filter-list li label {
    pointer-events: none;
}

.created-by-searchbar {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: solid 1px var(--border-color);
    border-radius: var(--radius-md);
    margin-top: -0.5rem;
    width: 100%;
}

.created-by-searchbar i {
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
    color: var(--text-light);
    font-size: clamp(0.25rem, 0.75vw, 1rem);
}

.created-by-searchbar input {
    border: none;
    outline: none;
    font-size: clamp(0.5rem, 1rem, 1.5rem);
    padding-left: 2.5rem;
    padding-right: 3rem;
    width: 100%;
}

.modal .actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2.5rem;
    margin-left: auto;
}

.modal .actions button {
    border: solid 1px var(--border-color);
    border-radius: var(--radius-sm);
    padding: 8px 16px;
    cursor: pointer;
}

.modal #submit-btn,
.modal #confirm-btn
{
    background-color: var(--accent);
    border: none;
    color: white;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    max-height: 75%;
    overflow-y: auto;
    padding-right: 1.5rem;
}

.preview-group-name {
    font-size: clamp(1rem, 1vw, 2rem);
    font-weight: 600;
    margin-bottom: 0.25rem;
    width: 100%;
}

.preview-group-list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    list-style-type: none;
}

.preview-list-item {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 3rem;
    font-size: clamp(0.75rem, 0.85vw, 1.5rem);
}

.preview-list-item strong {
    color: var(--text-primary);
    font-weight: 500;
}

.preview-list-item p {
    color: var(--text-secondary);
    font-weight: 400;
}