.upload-report-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 2rem;
}

.uploaded-file-header {
    margin-bottom: 1rem;
}

.uploaded-file-item {
    display: flex;
    align-items: start;
    gap: 1rem;
    padding-bottom: 2.5rem;
    border-bottom: solid 1px var(--border-color);
}

.uploaded-file-item .column {
    gap: 0.25rem;
}

.uploaded-file-item .fa-file {
    color: var(--text-lighter);
    font-size: clamp(1rem, 1.25vw, 3rem);
    margin-top: 4px;
}

.uploaded-file-item .filename {
    font-size: clamp(1rem, 1vw, 2rem);
    font-weight: 500;
}

.uploaded-file-item .filesize {
    color: var(--text-secondary);
    font-size: clamp(0.75rem, 0.9vw, 1.75rem);
    font-weight: 400;
}

.uploaded-file-item .stats-row {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
}

.uploaded-file-item .stat-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.4rem;
    padding-right: 1rem;
}

.uploaded-file-item .stat-item:not(:last-of-type) {
    border-right: solid 2px var(--border-color);
}

.uploaded-file-item .stat-item h3 {
    font-size: clamp(1rem, 1.5vw, 3rem);
    font-weight: 500;
}

.uploaded-file-item .stat-item p {
    color: var(--text-secondary);
    margin-bottom: 4px;
}

.uploaded-files-table {
    border-bottom: solid 1px var(--border-color);
}